.right-side {
  float: right;
  /* left:%; */
  /* margin-right: 5pc; */
  margin-left: 0rem;
  margin-right: 5rem;
  flex-direction: column;
  /* align-items: center;
  align-items: start; */
}

.notification-icon {
  float: right;
  margin-left: 1rem;
}

.table-header {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.view-more {
  margin-top: 1rem;
  font-family: 'Manrope';
  font-style: normal;
  background: #B4CD93 !important;
  color: #4c4c4c;
  margin-left: 5rem;
}
.view-all{
  margin-top: 1rem;
  font-family: 'Manrope';
  font-style: normal;
  background: #B4CD93 !important;
  color: #4c4c4c;
  margin-left: 3.5rem;
}
.recent-transactions{
  margin-top: 8rem;
}
.highest-transactions{
  margin-top: 5rem;
}
.boxes{
  font-family: 'Manrope';
  font-style: normal;
}